@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.plank {
  width: 100%;
  z-index: -5;
  background-color: #211600;
  border: 5px groove #6e5611;
  overflow: hidden;
}
.plank .texture1 {
  width: 110%;
  height: 15%;
  transform: rotate(-0.8deg) translate(-5%, -5%);
  background-color: #211600;
  background: linear-gradient(0deg, rgba(238, 196, 135, 0.5) 0%, rgba(243, 207, 154, 0.5) 3%, rgba(248, 216, 162, 0.5) 6%, rgba(243, 207, 154, 0.5) 6%, rgba(243, 207, 154, 0.5) 9%, rgba(241, 202, 136, 0.5) 12%, rgba(243, 207, 154, 0.5) 15%, rgba(244, 208, 158, 0.5) 17%, rgba(243, 207, 154, 0.5) 19%, rgba(243, 207, 154, 0.5) 21%, rgba(250, 221, 176, 0.5) 23%, rgba(250, 221, 176, 0.5) 25%, rgba(243, 207, 154, 0.5) 27%, rgba(238, 200, 138, 0.5) 29%, rgba(243, 207, 154, 0.5) 29%, rgba(243, 207, 154, 0.5) 32%, rgba(243, 207, 154, 0.5) 34%, rgba(243, 207, 154, 0.5) 37%, rgba(250, 221, 176, 0.5) 40%, rgba(250, 221, 176, 0.5) 43%, rgba(243, 207, 154, 0.5) 43%, rgba(243, 207, 154, 0.5) 44%, rgba(243, 207, 154, 0.5) 47%, rgba(238, 200, 138, 0.5) 49%, rgba(243, 207, 154, 0.5) 52%, rgba(250, 221, 176, 0.5) 54%, rgba(244, 208, 158, 0.5) 56%, rgba(243, 207, 154, 0.5) 59%, rgba(244, 208, 158, 0.5) 61%, rgba(250, 221, 176, 0.5) 64%, rgba(243, 207, 154, 0.5) 64%, rgba(244, 208, 158, 0.5) 66%, rgba(243, 207, 154, 0.5) 69%, rgba(248, 216, 162, 0.5) 71%, rgba(243, 207, 154, 0.5) 74%, rgba(243, 207, 154, 0.5) 76%, rgba(243, 207, 154, 0.5) 77%, rgba(243, 207, 154, 0.5) 80%, rgba(250, 221, 176, 0.5) 81%, rgba(243, 207, 154, 0.5) 83%, rgba(250, 221, 176, 0.5) 83%, rgba(250, 221, 176, 0.5) 85%, rgba(243, 207, 154, 0.5) 87%, rgba(250, 221, 176, 0.5) 89%, rgba(250, 221, 176, 0.5) 91%, rgba(243, 207, 154, 0.5) 92%, rgba(248, 216, 162, 0.5) 96%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 98%, rgba(243, 207, 154, 0.5) 100%), linear-gradient(180deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(248, 216, 162, 0.3) 6%, rgba(243, 207, 154, 0.3) 6%, rgba(243, 207, 154, 0.3) 9%, rgba(241, 202, 136, 0.3) 12%, rgba(243, 207, 154, 0.3) 15%, rgba(244, 208, 158, 0.3) 17%, rgba(243, 207, 154, 0.3) 19%, rgba(243, 207, 154, 0.3) 21%, rgba(250, 221, 176, 0.3) 23%, rgba(250, 221, 176, 0.3) 25%, rgba(243, 207, 154, 0.3) 27%, rgba(238, 200, 138, 0.3) 29%, rgba(243, 207, 154, 0.3) 29%, rgba(243, 207, 154, 0.3) 32%, rgba(243, 207, 154, 0.3) 34%, rgba(243, 207, 154, 0.3) 37%, rgba(250, 221, 176, 0.3) 40%, rgba(250, 221, 176, 0.3) 43%, rgba(243, 207, 154, 0.3) 43%, rgba(243, 207, 154, 0.3) 44%, rgba(243, 207, 154, 0.3) 47%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.3) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%), linear-gradient(0deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.2) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%);
  background-size: 10% 70%, 80% 80%, 100% 10%;
  background-position: 50% 50%, 70% 70%, 30% 30%;
  z-index: 1;
  border-bottom: 2px ridge #503206;
  filter: brightness(0.5) hue-rotate(-15deg) saturate(1.6);
}
.plank .texture2 {
  width: 110%;
  height: 15%;
  transform: rotate(0.5deg) translate(-5%, -5%);
  background: linear-gradient(0deg, rgba(238, 196, 135, 0.5) 0%, rgba(243, 207, 154, 0.5) 3%, rgba(248, 216, 162, 0.5) 6%, rgba(243, 207, 154, 0.5) 6%, rgba(243, 207, 154, 0.5) 9%, rgba(241, 202, 136, 0.5) 12%, rgba(243, 207, 154, 0.5) 15%, rgba(244, 208, 158, 0.5) 17%, rgba(243, 207, 154, 0.5) 19%, rgba(243, 207, 154, 0.5) 21%, rgba(250, 221, 176, 0.5) 23%, rgba(250, 221, 176, 0.5) 25%, rgba(243, 207, 154, 0.5) 27%, rgba(238, 200, 138, 0.5) 29%, rgba(243, 207, 154, 0.5) 29%, rgba(243, 207, 154, 0.5) 32%, rgba(243, 207, 154, 0.5) 34%, rgba(243, 207, 154, 0.5) 37%, rgba(250, 221, 176, 0.5) 40%, rgba(250, 221, 176, 0.5) 43%, rgba(243, 207, 154, 0.5) 43%, rgba(243, 207, 154, 0.5) 44%, rgba(243, 207, 154, 0.5) 47%, rgba(238, 200, 138, 0.5) 49%, rgba(243, 207, 154, 0.5) 52%, rgba(250, 221, 176, 0.5) 54%, rgba(244, 208, 158, 0.5) 56%, rgba(243, 207, 154, 0.5) 59%, rgba(244, 208, 158, 0.5) 61%, rgba(250, 221, 176, 0.5) 64%, rgba(243, 207, 154, 0.5) 64%, rgba(244, 208, 158, 0.5) 66%, rgba(243, 207, 154, 0.5) 69%, rgba(248, 216, 162, 0.5) 71%, rgba(243, 207, 154, 0.5) 74%, rgba(243, 207, 154, 0.5) 76%, rgba(243, 207, 154, 0.5) 77%, rgba(243, 207, 154, 0.5) 80%, rgba(250, 221, 176, 0.5) 81%, rgba(243, 207, 154, 0.5) 83%, rgba(250, 221, 176, 0.5) 83%, rgba(250, 221, 176, 0.5) 85%, rgba(243, 207, 154, 0.5) 87%, rgba(250, 221, 176, 0.5) 89%, rgba(250, 221, 176, 0.5) 91%, rgba(243, 207, 154, 0.5) 92%, rgba(248, 216, 162, 0.5) 96%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 98%, rgba(243, 207, 154, 0.5) 100%), linear-gradient(180deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(248, 216, 162, 0.3) 6%, rgba(243, 207, 154, 0.3) 6%, rgba(243, 207, 154, 0.3) 9%, rgba(241, 202, 136, 0.3) 12%, rgba(243, 207, 154, 0.3) 15%, rgba(244, 208, 158, 0.3) 17%, rgba(243, 207, 154, 0.3) 19%, rgba(243, 207, 154, 0.3) 21%, rgba(250, 221, 176, 0.3) 23%, rgba(250, 221, 176, 0.3) 25%, rgba(243, 207, 154, 0.3) 27%, rgba(238, 200, 138, 0.3) 29%, rgba(243, 207, 154, 0.3) 29%, rgba(243, 207, 154, 0.3) 32%, rgba(243, 207, 154, 0.3) 34%, rgba(243, 207, 154, 0.3) 37%, rgba(250, 221, 176, 0.3) 40%, rgba(250, 221, 176, 0.3) 43%, rgba(243, 207, 154, 0.3) 43%, rgba(243, 207, 154, 0.3) 44%, rgba(243, 207, 154, 0.3) 47%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.3) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%), linear-gradient(0deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.2) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%);
  background-size: 10% 70%, 80% 80%, 100% 10%;
  background-position: 50% 50%, 70% 70%, 30% 30%;
  background-color: #211600;
  z-index: 2;
  filter: brightness(0.3) hue-rotate(-12deg) saturate(1.4);
}
.plank .texture3 {
  width: 110%;
  height: 15%;
  transform: rotate(1.6deg) translate(-5%, -7%);
  background: linear-gradient(0deg, rgba(238, 196, 135, 0.5) 0%, rgba(243, 207, 154, 0.5) 3%, rgba(248, 216, 162, 0.5) 6%, rgba(243, 207, 154, 0.5) 6%, rgba(243, 207, 154, 0.5) 9%, rgba(241, 202, 136, 0.5) 12%, rgba(243, 207, 154, 0.5) 15%, rgba(244, 208, 158, 0.5) 17%, rgba(243, 207, 154, 0.5) 19%, rgba(243, 207, 154, 0.5) 21%, rgba(250, 221, 176, 0.5) 23%, rgba(250, 221, 176, 0.5) 25%, rgba(243, 207, 154, 0.5) 27%, rgba(238, 200, 138, 0.5) 29%, rgba(243, 207, 154, 0.5) 29%, rgba(243, 207, 154, 0.5) 32%, rgba(243, 207, 154, 0.5) 34%, rgba(243, 207, 154, 0.5) 37%, rgba(250, 221, 176, 0.5) 40%, rgba(250, 221, 176, 0.5) 43%, rgba(243, 207, 154, 0.5) 43%, rgba(243, 207, 154, 0.5) 44%, rgba(243, 207, 154, 0.5) 47%, rgba(238, 200, 138, 0.5) 49%, rgba(243, 207, 154, 0.5) 52%, rgba(250, 221, 176, 0.5) 54%, rgba(244, 208, 158, 0.5) 56%, rgba(243, 207, 154, 0.5) 59%, rgba(244, 208, 158, 0.5) 61%, rgba(250, 221, 176, 0.5) 64%, rgba(243, 207, 154, 0.5) 64%, rgba(244, 208, 158, 0.5) 66%, rgba(243, 207, 154, 0.5) 69%, rgba(248, 216, 162, 0.5) 71%, rgba(243, 207, 154, 0.5) 74%, rgba(243, 207, 154, 0.5) 76%, rgba(243, 207, 154, 0.5) 77%, rgba(243, 207, 154, 0.5) 80%, rgba(250, 221, 176, 0.5) 81%, rgba(243, 207, 154, 0.5) 83%, rgba(250, 221, 176, 0.5) 83%, rgba(250, 221, 176, 0.5) 85%, rgba(243, 207, 154, 0.5) 87%, rgba(250, 221, 176, 0.5) 89%, rgba(250, 221, 176, 0.5) 91%, rgba(243, 207, 154, 0.5) 92%, rgba(248, 216, 162, 0.5) 96%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 98%, rgba(243, 207, 154, 0.5) 100%), linear-gradient(180deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(248, 216, 162, 0.3) 6%, rgba(243, 207, 154, 0.3) 6%, rgba(243, 207, 154, 0.3) 9%, rgba(241, 202, 136, 0.3) 12%, rgba(243, 207, 154, 0.3) 15%, rgba(244, 208, 158, 0.3) 17%, rgba(243, 207, 154, 0.3) 19%, rgba(243, 207, 154, 0.3) 21%, rgba(250, 221, 176, 0.3) 23%, rgba(250, 221, 176, 0.3) 25%, rgba(243, 207, 154, 0.3) 27%, rgba(238, 200, 138, 0.3) 29%, rgba(243, 207, 154, 0.3) 29%, rgba(243, 207, 154, 0.3) 32%, rgba(243, 207, 154, 0.3) 34%, rgba(243, 207, 154, 0.3) 37%, rgba(250, 221, 176, 0.3) 40%, rgba(250, 221, 176, 0.3) 43%, rgba(243, 207, 154, 0.3) 43%, rgba(243, 207, 154, 0.3) 44%, rgba(243, 207, 154, 0.3) 47%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.3) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%), linear-gradient(0deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.2) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%);
  background-size: 10% 70%, 80% 80%, 100% 10%;
  background-position: 50% 50%, 70% 70%, 30% 30%;
  background-color: #211600;
  z-index: 1;
  filter: brightness(0.4) hue-rotate(-8deg) saturate(1.5);
}
.plank .texture4 {
  width: 110%;
  height: 14%;
  transform: rotate(0.4deg) translate(-5%, -5%);
  background: linear-gradient(0deg, rgba(238, 196, 135, 0.5) 0%, rgba(243, 207, 154, 0.5) 3%, rgba(248, 216, 162, 0.5) 6%, rgba(243, 207, 154, 0.5) 6%, rgba(243, 207, 154, 0.5) 9%, rgba(241, 202, 136, 0.5) 12%, rgba(243, 207, 154, 0.5) 15%, rgba(244, 208, 158, 0.5) 17%, rgba(243, 207, 154, 0.5) 19%, rgba(243, 207, 154, 0.5) 21%, rgba(250, 221, 176, 0.5) 23%, rgba(250, 221, 176, 0.5) 25%, rgba(243, 207, 154, 0.5) 27%, rgba(238, 200, 138, 0.5) 29%, rgba(243, 207, 154, 0.5) 29%, rgba(243, 207, 154, 0.5) 32%, rgba(243, 207, 154, 0.5) 34%, rgba(243, 207, 154, 0.5) 37%, rgba(250, 221, 176, 0.5) 40%, rgba(250, 221, 176, 0.5) 43%, rgba(243, 207, 154, 0.5) 43%, rgba(243, 207, 154, 0.5) 44%, rgba(243, 207, 154, 0.5) 47%, rgba(238, 200, 138, 0.5) 49%, rgba(243, 207, 154, 0.5) 52%, rgba(250, 221, 176, 0.5) 54%, rgba(244, 208, 158, 0.5) 56%, rgba(243, 207, 154, 0.5) 59%, rgba(244, 208, 158, 0.5) 61%, rgba(250, 221, 176, 0.5) 64%, rgba(243, 207, 154, 0.5) 64%, rgba(244, 208, 158, 0.5) 66%, rgba(243, 207, 154, 0.5) 69%, rgba(248, 216, 162, 0.5) 71%, rgba(243, 207, 154, 0.5) 74%, rgba(243, 207, 154, 0.5) 76%, rgba(243, 207, 154, 0.5) 77%, rgba(243, 207, 154, 0.5) 80%, rgba(250, 221, 176, 0.5) 81%, rgba(243, 207, 154, 0.5) 83%, rgba(250, 221, 176, 0.5) 83%, rgba(250, 221, 176, 0.5) 85%, rgba(243, 207, 154, 0.5) 87%, rgba(250, 221, 176, 0.5) 89%, rgba(250, 221, 176, 0.5) 91%, rgba(243, 207, 154, 0.5) 92%, rgba(248, 216, 162, 0.5) 96%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 98%, rgba(243, 207, 154, 0.5) 100%), linear-gradient(180deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(248, 216, 162, 0.3) 6%, rgba(243, 207, 154, 0.3) 6%, rgba(243, 207, 154, 0.3) 9%, rgba(241, 202, 136, 0.3) 12%, rgba(243, 207, 154, 0.3) 15%, rgba(244, 208, 158, 0.3) 17%, rgba(243, 207, 154, 0.3) 19%, rgba(243, 207, 154, 0.3) 21%, rgba(250, 221, 176, 0.3) 23%, rgba(250, 221, 176, 0.3) 25%, rgba(243, 207, 154, 0.3) 27%, rgba(238, 200, 138, 0.3) 29%, rgba(243, 207, 154, 0.3) 29%, rgba(243, 207, 154, 0.3) 32%, rgba(243, 207, 154, 0.3) 34%, rgba(243, 207, 154, 0.3) 37%, rgba(250, 221, 176, 0.3) 40%, rgba(250, 221, 176, 0.3) 43%, rgba(243, 207, 154, 0.3) 43%, rgba(243, 207, 154, 0.3) 44%, rgba(243, 207, 154, 0.3) 47%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.3) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%), linear-gradient(0deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.2) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%);
  background-size: 10% 70%, 80% 80%, 100% 10%;
  background-position: 50% 50%, 70% 70%, 30% 30%;
  background-color: #211600;
  z-index: 3;
  filter: brightness(0.3) hue-rotate(-9deg) saturate(1.5);
}
.plank .texture5 {
  width: 110%;
  height: 20%;
  transform: rotate(-1deg) translate(-5%, -5%);
  background: linear-gradient(0deg, rgba(238, 196, 135, 0.5) 0%, rgba(243, 207, 154, 0.5) 3%, rgba(248, 216, 162, 0.5) 6%, rgba(243, 207, 154, 0.5) 6%, rgba(243, 207, 154, 0.5) 9%, rgba(241, 202, 136, 0.5) 12%, rgba(243, 207, 154, 0.5) 15%, rgba(244, 208, 158, 0.5) 17%, rgba(243, 207, 154, 0.5) 19%, rgba(243, 207, 154, 0.5) 21%, rgba(250, 221, 176, 0.5) 23%, rgba(250, 221, 176, 0.5) 25%, rgba(243, 207, 154, 0.5) 27%, rgba(238, 200, 138, 0.5) 29%, rgba(243, 207, 154, 0.5) 29%, rgba(243, 207, 154, 0.5) 32%, rgba(243, 207, 154, 0.5) 34%, rgba(243, 207, 154, 0.5) 37%, rgba(250, 221, 176, 0.5) 40%, rgba(250, 221, 176, 0.5) 43%, rgba(243, 207, 154, 0.5) 43%, rgba(243, 207, 154, 0.5) 44%, rgba(243, 207, 154, 0.5) 47%, rgba(238, 200, 138, 0.5) 49%, rgba(243, 207, 154, 0.5) 52%, rgba(250, 221, 176, 0.5) 54%, rgba(244, 208, 158, 0.5) 56%, rgba(243, 207, 154, 0.5) 59%, rgba(244, 208, 158, 0.5) 61%, rgba(250, 221, 176, 0.5) 64%, rgba(243, 207, 154, 0.5) 64%, rgba(244, 208, 158, 0.5) 66%, rgba(243, 207, 154, 0.5) 69%, rgba(248, 216, 162, 0.5) 71%, rgba(243, 207, 154, 0.5) 74%, rgba(243, 207, 154, 0.5) 76%, rgba(243, 207, 154, 0.5) 77%, rgba(243, 207, 154, 0.5) 80%, rgba(250, 221, 176, 0.5) 81%, rgba(243, 207, 154, 0.5) 83%, rgba(250, 221, 176, 0.5) 83%, rgba(250, 221, 176, 0.5) 85%, rgba(243, 207, 154, 0.5) 87%, rgba(250, 221, 176, 0.5) 89%, rgba(250, 221, 176, 0.5) 91%, rgba(243, 207, 154, 0.5) 92%, rgba(248, 216, 162, 0.5) 96%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 98%, rgba(243, 207, 154, 0.5) 100%), linear-gradient(180deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(248, 216, 162, 0.3) 6%, rgba(243, 207, 154, 0.3) 6%, rgba(243, 207, 154, 0.3) 9%, rgba(241, 202, 136, 0.3) 12%, rgba(243, 207, 154, 0.3) 15%, rgba(244, 208, 158, 0.3) 17%, rgba(243, 207, 154, 0.3) 19%, rgba(243, 207, 154, 0.3) 21%, rgba(250, 221, 176, 0.3) 23%, rgba(250, 221, 176, 0.3) 25%, rgba(243, 207, 154, 0.3) 27%, rgba(238, 200, 138, 0.3) 29%, rgba(243, 207, 154, 0.3) 29%, rgba(243, 207, 154, 0.3) 32%, rgba(243, 207, 154, 0.3) 34%, rgba(243, 207, 154, 0.3) 37%, rgba(250, 221, 176, 0.3) 40%, rgba(250, 221, 176, 0.3) 43%, rgba(243, 207, 154, 0.3) 43%, rgba(243, 207, 154, 0.3) 44%, rgba(243, 207, 154, 0.3) 47%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.3) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%), linear-gradient(0deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.2) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%);
  background-size: 10% 70%, 80% 80%, 100% 10%;
  background-position: 50% 50%, 70% 70%, 30% 30%;
  background-color: #211600;
  z-index: 2;
  filter: brightness(0.5) hue-rotate(-11deg) saturate(1.5);
}
.plank .texture6 {
  width: 110%;
  height: 23%;
  transform: rotate(1deg) translate(-5%, -5%);
  background: linear-gradient(0deg, rgba(238, 196, 135, 0.5) 0%, rgba(243, 207, 154, 0.5) 3%, rgba(248, 216, 162, 0.5) 6%, rgba(243, 207, 154, 0.5) 6%, rgba(243, 207, 154, 0.5) 9%, rgba(241, 202, 136, 0.5) 12%, rgba(243, 207, 154, 0.5) 15%, rgba(244, 208, 158, 0.5) 17%, rgba(243, 207, 154, 0.5) 19%, rgba(243, 207, 154, 0.5) 21%, rgba(250, 221, 176, 0.5) 23%, rgba(250, 221, 176, 0.5) 25%, rgba(243, 207, 154, 0.5) 27%, rgba(238, 200, 138, 0.5) 29%, rgba(243, 207, 154, 0.5) 29%, rgba(243, 207, 154, 0.5) 32%, rgba(243, 207, 154, 0.5) 34%, rgba(243, 207, 154, 0.5) 37%, rgba(250, 221, 176, 0.5) 40%, rgba(250, 221, 176, 0.5) 43%, rgba(243, 207, 154, 0.5) 43%, rgba(243, 207, 154, 0.5) 44%, rgba(243, 207, 154, 0.5) 47%, rgba(238, 200, 138, 0.5) 49%, rgba(243, 207, 154, 0.5) 52%, rgba(250, 221, 176, 0.5) 54%, rgba(244, 208, 158, 0.5) 56%, rgba(243, 207, 154, 0.5) 59%, rgba(244, 208, 158, 0.5) 61%, rgba(250, 221, 176, 0.5) 64%, rgba(243, 207, 154, 0.5) 64%, rgba(244, 208, 158, 0.5) 66%, rgba(243, 207, 154, 0.5) 69%, rgba(248, 216, 162, 0.5) 71%, rgba(243, 207, 154, 0.5) 74%, rgba(243, 207, 154, 0.5) 76%, rgba(243, 207, 154, 0.5) 77%, rgba(243, 207, 154, 0.5) 80%, rgba(250, 221, 176, 0.5) 81%, rgba(243, 207, 154, 0.5) 83%, rgba(250, 221, 176, 0.5) 83%, rgba(250, 221, 176, 0.5) 85%, rgba(243, 207, 154, 0.5) 87%, rgba(250, 221, 176, 0.5) 89%, rgba(250, 221, 176, 0.5) 91%, rgba(243, 207, 154, 0.5) 92%, rgba(248, 216, 162, 0.5) 96%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 98%, rgba(243, 207, 154, 0.5) 100%), linear-gradient(180deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(248, 216, 162, 0.3) 6%, rgba(243, 207, 154, 0.3) 6%, rgba(243, 207, 154, 0.3) 9%, rgba(241, 202, 136, 0.3) 12%, rgba(243, 207, 154, 0.3) 15%, rgba(244, 208, 158, 0.3) 17%, rgba(243, 207, 154, 0.3) 19%, rgba(243, 207, 154, 0.3) 21%, rgba(250, 221, 176, 0.3) 23%, rgba(250, 221, 176, 0.3) 25%, rgba(243, 207, 154, 0.3) 27%, rgba(238, 200, 138, 0.3) 29%, rgba(243, 207, 154, 0.3) 29%, rgba(243, 207, 154, 0.3) 32%, rgba(243, 207, 154, 0.3) 34%, rgba(243, 207, 154, 0.3) 37%, rgba(250, 221, 176, 0.3) 40%, rgba(250, 221, 176, 0.3) 43%, rgba(243, 207, 154, 0.3) 43%, rgba(243, 207, 154, 0.3) 44%, rgba(243, 207, 154, 0.3) 47%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.3) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%), linear-gradient(0deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.2) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%);
  background-size: 10% 70%, 80% 80%, 100% 10%;
  background-position: 50% 50%, 70% 70%, 30% 30%;
  background-color: #211600;
  z-index: 1;
  filter: brightness(0.3) hue-rotate(-15deg) saturate(1.5);
}

.nail {
  height: 5px;
  width: 5px;
  background: #6d6c6c;
  box-shadow: 1px 1px rgba(10, 10, 10, 0.2);
  border-radius: 50%;
  z-index: 6;
}

.pos1 {
  position: absolute;
  top: 5%;
  left: 6%;
}

.pos2 {
  position: absolute;
  top: 10%;
  right: 6%;
}

.pos3 {
  position: absolute;
  bottom: 10%;
  right: 6%;
}

.pos4 {
  position: absolute;
  bottom: 10%;
  left: 6%;
}

.big {
  width: 100%;
  height: 630px;
}

.small {
  width: 100%;
  height: 280px;
}

.banana {
  width: 6em;
  height: 6em;
  background-color: transparent;
  box-shadow: -1.1em 1.1em 0 0 #fcd110;
  border-radius: 50%;
  position: relative;
  top: 14px;
  left: 5.6em;
  transform: scale(2);
  cursor: pointer;
}

.banana:before {
  content: "";
  width: 0.3em;
  height: 0.3em;
  transform: rotate(45deg);
  background-color: #937714;
  position: absolute;
  top: 5.2em;
  left: 4.5em;
  z-index: 10;
}

.banana:after {
  content: "";
  width: 0.4em;
  height: 0.8em;
  transform: rotate(31deg);
  background-color: #b3bb03;
  position: absolute;
  top: 1.1em;
  left: 0.2em;
  z-index: 10;
}

.banana-line {
  width: 5.5em;
  height: 5.8em;
  background-color: transparent;
  box-shadow: -0.4em 0.4em 0 0 #ffe23c;
  border-radius: 50%;
  position: relative;
  top: -74px;
  left: 88px;
  transform: scale(2) rotate(-4deg);
  cursor: pointer;
}

.bananaMult {
  width: 6em;
  height: 6em;
  background-color: transparent;
  box-shadow: -1.1em 1.1em 0 0 #fcd110;
  border-radius: 50%;
  position: relative;
  top: -0.9em;
  left: 1.6em;
}

.bananaMult:before {
  content: "";
  width: 0.3em;
  height: 0.3em;
  transform: rotate(45deg);
  background-color: #937714;
  position: absolute;
  top: 5.4em;
  left: 4.3em;
  z-index: 1;
}

.bananaMult:after {
  content: "";
  width: 0.4em;
  height: 0.8em;
  transform: rotate(31deg);
  background-color: #b3bb03;
  position: absolute;
  top: 1.1em;
  left: 0.2em;
  z-index: 1;
}

.banana-lineMult {
  width: 5.5em;
  height: 5.8em;
  background-color: transparent;
  box-shadow: -0.4em 0.4em 0 0 #ffe23c;
  border-radius: 50%;
  position: relative;
  top: -6.7em;
  left: 1.7em;
  transform: rotate(-4deg);
}

.monkey {
  position: relative;
  margin: auto;
  display: block;
  width: 125px;
  height: 125px;
  margin-top: 5%;
}

.head {
  position: absolute;
  width: 95px;
  height: 100px;
  border-radius: 100%;
  background: #9b7b53;
  z-index: 100;
  top: 10%;
  left: 10%;
}

.earLeft {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #9b7b53;
  z-index: 98;
  top: 33%;
}

.earRight {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #9b7b53;
  z-index: 98;
  top: 33%;
  left: 69%;
}

.innerEarLeft {
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  border-radius: 100%;
  z-index: 99;
  background: #fff6e0;
  top: 10%;
  left: 5%;
}

.innerEarRight {
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  border-radius: 100%;
  z-index: 99;
  background: #fff6e0;
  top: 10%;
  left: 15%;
}

.lowerWhite {
  position: absolute;
  width: 85px;
  height: 60px;
  border-radius: 50%;
  z-index: 101;
  background: #fff6e0;
  top: 42%;
  left: 14%;
}

.upperWhite {
  position: absolute;
  width: 70px;
  height: 75px;
  border-radius: 100%;
  z-index: 101;
  background: #fff6e0;
  top: 25%;
  left: 20%;
}

.eyeLeft {
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  border-radius: 100%;
  z-index: 102;
  background: #543f22;
  top: 30%;
  left: 20%;
}

.eyeRight {
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  border-radius: 100%;
  z-index: 102;
  background: #543f22;
  top: 30%;
  left: 70%;
}

.noseLeft {
  position: absolute;
  width: 7.5px;
  height: 1px;
  border-radius: 100%;
  z-index: 102;
  background: #543f22;
  top: 55%;
  left: 38%;
}

.noseRight {
  position: absolute;
  width: 7.5px;
  height: 1px;
  border-radius: 100%;
  z-index: 102;
  background: #543f22;
  top: 55%;
  left: 52%;
}

.mouth {
  position: absolute;
  width: 45px;
  height: 15px;
  z-index: 102;
  top: 65%;
  left: 17%;
  border: solid 2px #543f22;
  border-color: transparent transparent #543f22 transparent;
  border-radius: 100%;
}

html {
  min-height: 100%;
}

body {
  background: #2c2836;
  background: radial-gradient(circle, #2c2836 5%, #2e2b3c 25%, #33394e 70%, #2e5d5f 86%);
  overflow: hidden;
  min-width: 1600px;
}

#page {
  overflow: auto;
  display: grid;
  grid-template-columns: 10% 20% 6% 28% 6% 20% 10%;
  width: 1600px;
  height: 800px;
  margin: auto;
}
@media only screen and (max-height: 850px) {
  #page {
    overflow-y: scroll;
  }
}
#page .leftColumn {
  height: 800px;
  display: flex;
  flex-direction: column;
  grid-column: 2/span 1;
}
#page .leftColumn .infos {
  height: 290px;
}
#page .leftColumn .infos .infoTxt {
  position: relative;
  top: -190px;
  width: 330px;
  z-index: 4;
  text-align: center;
  line-height: 40px;
  color: yellow;
}
#page .leftColumn .mult {
  height: 290px;
}
#page .leftColumn .mult .multTxt {
  position: relative;
  top: -100px;
  width: 330px;
  z-index: 4;
  text-align: center;
  vertical-align: middle;
  color: yellow;
}
#page .leftColumn .mult #bananaGrappe {
  cursor: pointer;
  position: relative;
  width: 130px;
  height: 110px;
  top: -250px;
  left: 100px;
}
#page .leftColumn .mult #bananaGrappe .multBanana3 {
  position: absolute;
  height: 110px;
  top: 2%;
  left: 21%;
  z-index: 4;
  transform: rotate(10deg);
}
#page .leftColumn .mult #bananaGrappe .multBanana2 {
  position: absolute;
  height: 110px;
  top: 0%;
  left: 8%;
  z-index: 4;
  transform: rotate(30deg);
}
#page .leftColumn .mult #bananaGrappe .multBanana1 {
  position: absolute;
  height: 110px;
  top: -4%;
  left: -5%;
  z-index: 4;
  transform: rotate(45deg);
}
#page .centralColumn {
  grid-column: 4/span 1;
}
#page .centralColumn h1 {
  color: yellow;
  position: fixed;
  top: 15vh;
  width: 448px;
}
#page .centralColumn #hClick {
  position: fixed;
  top: 50vh;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
}
#page .rightColumn {
  display: flex;
  flex-direction: column;
  grid-column: 6/span 1;
  height: 800px;
}
#page .rightColumn .autoplank {
  height: 630px;
}
#page .rightColumn .autoplank .auto1Txt {
  position: relative;
  top: -550px;
  display: flex;
  flex-direction: column;
  z-index: 4;
  text-align: center;
  justify-content: space-around;
}
#page .rightColumn .autoplank .auto1Txt .monkey {
  cursor: pointer;
}
#page .rightColumn .autoplank .auto1Txt #hAutoclick {
  margin-top: 2vh;
}

.reset {
  position: fixed;
  top: 0;
  right: 0;
  width: 170px;
  height: 50px;
  z-index: 25;
  cursor: pointer;
}
.reset .rope {
  height: 30px;
}
.reset .rope .leftRope {
  height: 30px;
}
.reset .rope .rightRope {
  height: 30px;
}
.reset .plankReset {
  width: 150px;
  height: 30px;
  z-index: 40;
  background-color: #211600;
  overflow: hidden;
  transform: rotate(-2deg) translate(3%, -5%);
  background: linear-gradient(0deg, rgba(238, 196, 135, 0.5) 0%, rgba(243, 207, 154, 0.5) 3%, rgba(248, 216, 162, 0.5) 6%, rgba(243, 207, 154, 0.5) 6%, rgba(243, 207, 154, 0.5) 9%, rgba(241, 202, 136, 0.5) 12%, rgba(243, 207, 154, 0.5) 15%, rgba(244, 208, 158, 0.5) 17%, rgba(243, 207, 154, 0.5) 19%, rgba(243, 207, 154, 0.5) 21%, rgba(250, 221, 176, 0.5) 23%, rgba(250, 221, 176, 0.5) 25%, rgba(243, 207, 154, 0.5) 27%, rgba(238, 200, 138, 0.5) 29%, rgba(243, 207, 154, 0.5) 29%, rgba(243, 207, 154, 0.5) 32%, rgba(243, 207, 154, 0.5) 34%, rgba(243, 207, 154, 0.5) 37%, rgba(250, 221, 176, 0.5) 40%, rgba(250, 221, 176, 0.5) 43%, rgba(243, 207, 154, 0.5) 43%, rgba(243, 207, 154, 0.5) 44%, rgba(243, 207, 154, 0.5) 47%, rgba(238, 200, 138, 0.5) 49%, rgba(243, 207, 154, 0.5) 52%, rgba(250, 221, 176, 0.5) 54%, rgba(244, 208, 158, 0.5) 56%, rgba(243, 207, 154, 0.5) 59%, rgba(244, 208, 158, 0.5) 61%, rgba(250, 221, 176, 0.5) 64%, rgba(243, 207, 154, 0.5) 64%, rgba(244, 208, 158, 0.5) 66%, rgba(243, 207, 154, 0.5) 69%, rgba(248, 216, 162, 0.5) 71%, rgba(243, 207, 154, 0.5) 74%, rgba(243, 207, 154, 0.5) 76%, rgba(243, 207, 154, 0.5) 77%, rgba(243, 207, 154, 0.5) 80%, rgba(250, 221, 176, 0.5) 81%, rgba(243, 207, 154, 0.5) 83%, rgba(250, 221, 176, 0.5) 83%, rgba(250, 221, 176, 0.5) 85%, rgba(243, 207, 154, 0.5) 87%, rgba(250, 221, 176, 0.5) 89%, rgba(250, 221, 176, 0.5) 91%, rgba(243, 207, 154, 0.5) 92%, rgba(248, 216, 162, 0.5) 96%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 97%, rgba(243, 207, 154, 0.5) 98%, rgba(243, 207, 154, 0.5) 100%), linear-gradient(180deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(248, 216, 162, 0.3) 6%, rgba(243, 207, 154, 0.3) 6%, rgba(243, 207, 154, 0.3) 9%, rgba(241, 202, 136, 0.3) 12%, rgba(243, 207, 154, 0.3) 15%, rgba(244, 208, 158, 0.3) 17%, rgba(243, 207, 154, 0.3) 19%, rgba(243, 207, 154, 0.3) 21%, rgba(250, 221, 176, 0.3) 23%, rgba(250, 221, 176, 0.3) 25%, rgba(243, 207, 154, 0.3) 27%, rgba(238, 200, 138, 0.3) 29%, rgba(243, 207, 154, 0.3) 29%, rgba(243, 207, 154, 0.3) 32%, rgba(243, 207, 154, 0.3) 34%, rgba(243, 207, 154, 0.3) 37%, rgba(250, 221, 176, 0.3) 40%, rgba(250, 221, 176, 0.3) 43%, rgba(243, 207, 154, 0.3) 43%, rgba(243, 207, 154, 0.3) 44%, rgba(243, 207, 154, 0.3) 47%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.3) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%), linear-gradient(0deg, rgba(238, 196, 135, 0.3) 0%, rgba(243, 207, 154, 0.3) 3%, rgba(238, 200, 138, 0.3) 49%, rgba(243, 207, 154, 0.3) 52%, rgba(250, 221, 176, 0.3) 54%, rgba(244, 208, 158, 0.3) 56%, rgba(243, 207, 154, 0.2) 59%, rgba(244, 208, 158, 0.3) 61%, rgba(250, 221, 176, 0.3) 64%, rgba(243, 207, 154, 0.3) 64%, rgba(244, 208, 158, 0.3) 66%, rgba(243, 207, 154, 0.3) 69%, rgba(248, 216, 162, 0.3) 71%, rgba(243, 207, 154, 0.3) 74%, rgba(243, 207, 154, 0.3) 76%, rgba(243, 207, 154, 0.3) 77%, rgba(243, 207, 154, 0.3) 80%, rgba(250, 221, 176, 0.3) 81%, rgba(243, 207, 154, 0.3) 83%, rgba(250, 221, 176, 0.3) 83%, rgba(250, 221, 176, 0.3) 85%, rgba(243, 207, 154, 0.3) 87%, rgba(250, 221, 176, 0.3) 89%, rgba(250, 221, 176, 0.3) 91%, rgba(243, 207, 154, 0.3) 92%, rgba(248, 216, 162, 0.3) 96%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 97%, rgba(243, 207, 154, 0.3) 98%, rgba(243, 207, 154, 0.3) 100%);
  background-size: 10% 70%, 80% 80%, 100% 10%;
  background-position: 50% 50%, 70% 70%, 30% 30%;
  background-color: #211600;
  z-index: 2;
  filter: brightness(0.3) hue-rotate(-12deg) saturate(1.4);
}
.reset #hReset {
  position: absolute;
  top: 35px;
  left: 13px;
  z-index: 41;
  transform: rotate(-2deg) translate(8%, -5%);
}

.rope {
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.leftRope {
  height: 80px;
  width: 3px;
  background-image: repeating-linear-gradient(-40deg, black 0%, black 5%, #523106 5%, #a05b0d 10%);
}

.rightRope {
  height: 80px;
  width: 3px;
  background-image: repeating-linear-gradient(-40deg, black 0%, black 5%, #523106 5%, #9c590c 10%);
}

.grayOut {
  filter: grayscale(1);
  cursor: default;
}

.leafLeftBot {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -3%;
  z-index: 9;
}

.leafLeftTop {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 6%;
  left: -6%;
  z-index: 10;
}

.leafTopBot {
  position: absolute;
  display: flex;
  top: -6%;
  left: 2%;
  z-index: 9;
}

.leafTopTop {
  position: absolute;
  display: flex;
  top: -11%;
  left: -2%;
  z-index: 10;
}

.leafRightBot {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 95%;
  z-index: 9;
}

.leafRightTop {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5%;
  left: 98%;
  z-index: 10;
}

.leafBotBot {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 90%;
  left: 2%;
  z-index: 9;
}

.leafBotTop {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 94%;
  left: -2%;
  z-index: 10;
}

.rotateTopBot {
  transform: rotate(45deg);
}

.rotateRight {
  transform: rotate(270deg);
}

.shapeLeaf {
  border-radius: 5px 250px 3px 300px;
  border: 1px solid #2c2836;
  width: 150px;
  height: 150px;
}
.shapeLeaf .line {
  position: relative;
  width: 174px;
  height: 62px;
  z-index: 102;
  top: 31%;
  left: -22%;
  border-radius: 100%;
  transform: rotate(222deg);
}

.leafGreenDark {
  background: #559587;
}
.leafGreenDark .lineLeafGreenDark {
  border: solid 2px #3b685e;
  border-color: transparent transparent #3b685e;
}

.leafGreenMiddle {
  background: #75958e;
}
.leafGreenMiddle .lineLeafGreenMiddle {
  border: solid 2px #b0c2be;
  border-color: transparent transparent #b0c2be;
}

.leafGreenLight {
  background: #80b7ab;
}
.leafGreenLight .lineLeafLight {
  border: solid 2px #a6ccc4;
  border-color: transparent transparent #a6ccc4;
}

.leafWhite {
  background: #eae4cc;
}
.leafWhite .lineLeafWhite {
  border: solid 2px #bbb6a3;
  border-color: transparent transparent #bbb6a3;
}

.leafRed {
  background: #d95f47;
}
.leafRed .lineLeafRed {
  border: solid 2px #692e22;
  border-color: transparent transparent #692e22;
}

/* Police d'écriture */
@font-face {
  font-family: "waltographUI";
  src: url("../public/fonts/waltographUI.ttf") format("truetype");
}
#TitleFont, h1 {
  z-index: 25;
  text-align: center;
  font-family: "waltographUI", arial, sans-serif;
  color: yellow;
  font-size: 77px;
  text-shadow: 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60;
}

@font-face {
  font-family: "Westmeath";
  src: url("../public/fonts/AlphaFridgeMagnetsAllCaps.ttf") format("truetype");
}
#hScore {
  text-align: center;
  font-size: 35px;
  color: #eae4cc;
  font-family: "Westmeath", arial, sans-serif;
}

#hMultiplier {
  text-align: center;
  font-size: 35px;
  color: #eae4cc;
  font-family: "Westmeath", arial, sans-serif;
}

@font-face {
  font-family: "Westmeath0";
  src: url("../public/fonts/AlphaFridgeMagnetsAllCaps.ttf") format("truetype");
}
#hPerSecond {
  text-align: center;
  font-size: 23px;
  color: #eae4cc;
  font-family: "Westmeath0", arial, sans-serif;
}

@font-face {
  font-family: "Westmeath1";
  src: url("../public/fonts/AlphaFridgeMagnetsAllCaps.ttf") format("truetype");
}
#hReset {
  text-align: center;
  color: #eae4cc;
  font-size: 23px;
  font-family: "Westmeath1", arial, sans-serif;
}

@font-face {
  font-family: "Westmeath2";
  src: url("../public/fonts/AlphaFridgeMagnetsAllCaps.ttf") format("truetype");
}
#hAutoclick {
  text-align: center;
  color: #eae4cc;
  font-size: 29px;
  font-family: "Westmeath2", arial, sans-serif;
}

/*police d'écriture */

/*# sourceMappingURL=style.css.map */
