@import 'reset.scss';
@import 'plank.scss';
@import 'banana.scss';
@import 'bananaMult.scss';
@import 'monkey.scss';
@import 'bonus.scss';
@import 'monkey2.scss';

html {
    min-height: 100%;
}

body {
    background: rgb(44,40,54);
    background: radial-gradient(circle, rgba(44,40,54,1) 5%, rgba(46,43,60,1) 25%, rgba(51,57,78,1) 70%, rgba(46,93,95,1) 86%);
    overflow: hidden;
    min-width:1600px;
}
#page{
    // overflow: auto;
    @media only screen and (max-height: 850px){
        overflow-y: scroll;
    }
    display:grid;
    grid-template-columns: 10% 20% 6% 28% 6% 20% 10%;
    width: 1600px;
    height: 800px;
    margin: auto;
    .leftColumn{
        height: 800px;
        // display: flex;
        flex-direction:column;
        grid-column : 2 / span 1;
        .infos{
            height: 280px;
            .infoTxt{
                position : relative;
                top : -190px;
                width : 330px;
                z-index : 4;
                text-align: center;
                line-height: 40px;
                color : yellow;
            }
        }
        .mult{
            height: 290px;
            .multTxt{
                position : relative;
                top : -100px;
                width : 330px;
                z-index : 4;
                text-align: center;
                vertical-align: middle;
                color: yellow;
            }
            .bananaGrappe{
                position: relative;
                width: 130px;
                height: 110px;
                z-index : 8;
                top: -250px;
                left: 100px;
                .multBanana3{
                    position: absolute;
                    height: 110px;
                    top: 2%;
                    left: 21%;
                    z-index: 4;
                    transform: rotate(10deg);
                }
                .multBanana2{
                    position: absolute;
                    height: 110px;
                    top: 0%;
                    left: 8%;
                    z-index: 4;
                    transform: rotate(30deg);
                }
                .multBanana1{
                    position: absolute;
                    height: 110px;
                    top: -4%;
                    left: -5%;
                    z-index: 4;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .centralColumn{
        grid-column : 4 / span 1;
        h1{
            color : yellow;
            position: fixed;
            top: 15vh;
            width: 448px;
        }
        //banane
        #hClick{
            position: fixed;
            cursor: pointer;
            top: 55vh; 
            width: 200px;
            height: 200px;
            margin-left : 124px;
        }
        //banane bonus
        #hBonus{
            position: fixed;
            cursor: pointer;
            top: 51vh;
            width: 200px;
            height: 200px;
            margin-left : 163px;
            animation: spin 0.5s linear infinite;
        }
        //animation banane bonus
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } };

    }
    .rightColumn{
        display: flex;
        flex-direction:column;
        grid-column : 6 / span 1;
        height: 800px;
        .autoplank{
            height: 640px;
            .auto1Txt{
                position : relative;
                top:-570px;
                left: 6px;
                display: flex;
                flex-direction: column;
                z-index : 4;
                text-align: center;
                justify-content: space-around;
                .monkey{cursor:pointer}
                #hAutoclick{
                    margin-top : 2vh;
                }
            }
            .auto2Txt{
                position : relative;
                top:-480px;
                left: 6px;
                display: flex;
                flex-direction: column;
                z-index : 4;
                text-align: center;
                justify-content: space-around;
                .monkey2{cursor:pointer}
                #hAutoclick2{
                    margin-top : 4vh;
                }
            }
        }
    }
}
.reset{
    position : fixed;
    top:0;
    right:0;
    width : 170px;
    height : 50px;
    z-index : 25;
    cursor: pointer;
    .rope{
        height : 30px;
        .leftRope{
            height: 30px;
        }
        .rightRope{
            height: 30px;
        }
    }
    .plankReset{
        width : 150px;
        height : 30px;
        z-index : 40;
        background-color:rgba(33, 22, 0, 1);
        overflow:hidden;
        transform : rotate(-2deg) translate(3%, -5%);
        @include plank();
        background-color:rgba(33, 22, 0, 1);
        z-index: 2;
        filter : brightness(0.3) hue-rotate(-12deg) saturate(1.4)
    }
    #hReset{
        position : absolute;
        top : 35px;
        left : 13px;
        z-index : 41;
        transform : rotate(-2deg) translate(8%, -5%);
    }
}

.rope{
    height : 80px;
    display : flex;
    justify-content: space-around;
}
.leftRope {
    height : 80px;
    width :3px;
    background-image: repeating-linear-gradient(-40deg,black 0%,black 5%,rgb(82, 49, 6)5%,rgb(160, 91, 13)10%)
}
.rightRope{
    height : 80px;
    width : 3px;
    background-image: repeating-linear-gradient(-40deg,black 0%,black 5%,rgb(82, 49, 6)5%,rgb(156, 89, 12)10%)
}
.pointer{
    cursor: pointer;
}
.grayOut{
    filter: grayscale(1);
    cursor : default;
}
// leaf background
.leafLeftBot {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -3%;
    z-index: 9;
}

.leafLeftTop {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 6%;
    left: -6%;
    z-index: 10;
}

.leafTopBot {
    position: absolute;
    display: flex;  
    top: -6%;
    left: 2%;
    z-index: 9;
}

.leafTopTop {
    position: absolute;
    display: flex;  
    top: -11%;
    left: -2%;
    z-index: 10;
}

.leafRightBot {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;  
    left: 95%;
    z-index: 9;
}

.leafRightTop {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;  
    left: 98%;
    z-index: 10;
}

.leafBotBot {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 90%;
    left: 2%;
    z-index: 9;
}

.leafBotTop {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 94%;
    left: -2%;
    z-index: 10;
}

.rotateTopBot {
    transform: rotate(45deg);
}

.rotateRight {
    transform: rotate(270deg);
}

.shapeLeaf {
    border-radius: 5px 250px 3px 300px;
    border: 1px solid rgb(44,40,54);
    width: 150px;
    height: 150px;
    .line {
        position: relative;
        width: 174px;
        height: 62px;
        z-index: 102;
        top: 31%;
        left: -22%;
        border-radius: 100%;
        transform: rotate(222deg);
    }
}  
.leafGreenDark {
    background: #559587;
    .lineLeafGreenDark {
        border: solid 2px #3b685e;
        border-color: transparent transparent #3b685e;
    }
}

.leafGreenMiddle {
    background: #75958e;
    .lineLeafGreenMiddle {
        border: solid 2px #b0c2be;
        border-color: transparent transparent #b0c2be;
    }
}

.leafGreenLight {
    background: #80b7ab;
    .lineLeafLight {
        border: solid 2px #a6ccc4;
        border-color: transparent transparent #a6ccc4;
    }
}

.leafWhite {
    background: #eae4cc;
    .lineLeafWhite {
        border: solid 2px #bbb6a3;
        border-color: transparent transparent #bbb6a3;
    }
}

.leafRed {
    background: #d95f47;
    .lineLeafRed {
        border: solid 2px #692e22;
        border-color: transparent transparent #692e22;
    }
}
    
/* Police d'écriture */
    @font-face {
            font-family: "waltographUI";
            src: url("../public/fonts/waltographUI.ttf") format("truetype");
        }
        #TitleFont, h1 {
            z-index : 25;
            text-align: center;
            font-family: "waltographUI",arial,sans-serif;
            color : yellow ; 
            //text-shadow:0 4px 0 rgb(255, 96, 0), 0 -4px 0 rgb(255, 139, 0);
            font-size : 77px ; 
            text-shadow: 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60;
        }

    @font-face {
            font-family: "Westmeath";
            src: url("../public/fonts/AlphaFridgeMagnetsAllCaps.ttf") format("truetype");
        }

        #hScore {
            text-align: center;
            font-size : 34px ; 
            color : #eae4cc ; 
            font-family: "Westmeath",arial,sans-serif;
            // text-shadow: 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61;
        
        }
        #hMultiplier {
            text-align: center;
            font-size : 35px ; 
            color : #eae4cc ; 
            font-family: "Westmeath",arial,sans-serif;
        }

        @font-face {
            font-family: "Westmeath0";
            src: url("../public/fonts/AlphaFridgeMagnetsAllCaps.ttf") format("truetype");
        }

        #hPerSecond {
            text-align: center;
            font-size : 23px ; 
            color : #eae4cc ; 
            font-family: "Westmeath0",arial,sans-serif;
            // text-shadow: 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61;
        
        }
        @font-face {
            font-family: "Westmeath1";
            src: url("../public/fonts/AlphaFridgeMagnetsAllCaps.ttf") format("truetype");
        }

    #hReset {
            text-align: center;
            color : #eae4cc ; 
            font-size : 23px ; 
            font-family: "Westmeath1",arial,sans-serif;
            // text-shadow: 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61;
        
        }

        @font-face {
            font-family: "Westmeath2";
            src: url("../public/fonts/AlphaFridgeMagnetsAllCaps.ttf") format("truetype");
        }

    #hAutoclick {
            text-align: center;
            color : #eae4cc ; 
            font-size : 29px ; 
            font-family: "Westmeath2",arial,sans-serif;
            // text-shadow: 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61;
        
        }
        #hAutoclick2 {
            text-align: center;
            color : #eae4cc ; 
            font-size : 29px ; 
            font-family: "Westmeath2",arial,sans-serif;
            // text-shadow: 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61, 0 0 2px #d61;
        
        }

/*police d'écriture */ 