* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fefefe;
}
    
#page{
    margin: auto;
    max-width: 1200px;
    min-width: 300px;
    width: 95%;
    background-color: #DDD;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
        
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: middle;
}
        
#supplement{
    display:flex;
    align-items: center;
    justify-content: space-around;
    #hBonus {
        display: inline-block;
    }
}
    
/* Police d'écriture */
@font-face {
        font-family: "waltographUI";
        src: url("../font/waltographUI.ttf") format("truetype");
    }

    h1 {
        font-family: "waltographUI",arial,sans-serif;
        color : yellow ; 
        //text-shadow:0 4px 0 rgb(255, 96, 0), 0 -4px 0 rgb(255, 139, 0);
        font-size : 77px ; 
        text-shadow: 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60, 0 0 5px #d60;

    }
/* police d'écriture */ 