* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    min-height: 100%;
}

body {
    background: rgb(44,40,54);
    background: radial-gradient(circle, rgba(44,40,54,1) 5%, rgba(46,43,60,1) 25%, rgba(51,57,78,1) 70%, rgba(46,93,95,1) 86%);
    overflow: hidden;
}
    
#page{
    position: relative;
    top: 40vh;
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    width: 95%;
    background-color: #DDD;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
        
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: middle;
}
        
#supplement{
    display:flex;
    align-items: center;
    justify-content: space-around;
    #hBonus {
        display: inline-block;
    }
}

// leaf background
.leafLeft {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -2%;
}

.leafTop {
    position: absolute;
    display: flex;
    top: -6%;
    left: 10%;
}

.leafRight {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;  
    left: 92%;
}

.leafBot {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 90%;
    left: 10%;
}

.rotateTopBot {
    transform: rotate(45deg);
}

.rotateRight {
    transform: rotate(270deg);
}

.shapeLeaf {
    border-radius: 5px 250px 3px 300px;
    width: 150px;
    height: 150px;
    .line {
        position: relative;
        width: 174px;
        height: 62px;
        z-index: 102;
        top: 31%;
        left: -22%;
        border-radius: 100%;
        transform: rotate(222deg);
    }
}  
.leafGreenDark {
    background: #559587;
    .lineLeafGreenDark {
        border: solid 2px #3b685e;
        border-color: transparent transparent #3b685e;
    }
}

.leafGreenMiddle {
    background: #75958e;
    .lineLeafGreenMiddle {
        border: solid 2px #b0c2be;
        border-color: transparent transparent #b0c2be;
    }
}

.leafGreenLight {
    background: #80b7ab;
    .lineLeafLight {
        border: solid 2px #a6ccc4;
        border-color: transparent transparent #a6ccc4;
    }
}

.leafWhite {
    background: #eae4cc;
    .lineLeafWhite {
        border: solid 2px #bbb6a3;
        border-color: transparent transparent #bbb6a3;
    }
}

.leafRed {
    background: #d95f47;
    .lineLeafRed {
        border: solid 2px #692e22;
        border-color: transparent transparent #692e22;
    }
}

